<div class="custom__grid">
  <div class="custom__header">
    <a href="index.html" class="logo">
      <img src="assets/ucb-logo.png" alt="Company logo" class="logo__img" />
    </a>
  </div>
  <div class="custom__col-fixed">
    <img src="assets/banner-1.png" alt="banner" class="col__banner" />
  </div>
  <div class="custom__col-auto">
    <div class="card">
      <p class="text-info">
        Thank you for your interest in learning more about our company. We care
        about your questions and concerns
      </p>
      <p class="text-info">
        For reporting any Adverse Event or Product Quality Complaint with
        reference to any product of our Company (Pharmaceuticals),
      </p>
      <p class="text-info">
        please contact us at +12 35 66642219 or click on the button below for
        electronic submission.
      </p>
    </div>
    <div class="card">
      <button class="btn__primary" (click)="onClickNavigate()">Report</button>
    </div>
    <div class="card">
      <p class="text-info">
        Alternatively, if you are unable to report the side effect
        electronically you can email your local Drug Safety Responsible person
      </p>
      <p class="text-info">
        If you have a medical emergency or if you need specific medical
        attention, we strongly advise you to please contact your primary
        healthcare provider.
      </p>
      <p class="text-info">
        Please see our data privacy declaration for information to the way we
        process your data according to the new EU General Data Protection
        Regulation.
      </p>
    </div>
  </div>
</div>
