.custom__header {
  display: flex;
  border-bottom: 1px solid #008ba1;
  align-items: center;
  box-shadow: 0px 3px 6px #00000029;
  padding-left: 56px;
  .logo {
    display: inline-block;
    text-decoration: none;
    color: #707070;
    text-transform: capitalize;
    font-size: 20px;
    color: #707070;

    &__img {
      height: 53px;
      max-width: 280px;
    }
  }
}
.custom__col-fixed {
  overflow: hidden;
  .col__banner {
    object-fit: cover;
  }
}
.custom__col-auto {
  padding: 52px;
  .card {
    max-width: 726px;
    &:last-child {
      padding-bottom: 15px;
      border-bottom: 1px solid #e1e3e6;
    }
    &:nth-child(2) {
      display: flex;
      height: 154px;
      justify-content: center;
      align-items: center;
    }
    .text-info:not(:first-child) {
      margin-top: 35px;
    }
  }
}
